/*My standard reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  margin: 0; }

a {
  color: #fefefe;
  text-decoration: none; }

@keyframes hideAndAppear {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  color: #fefefe; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 8vw;
  font-weight: 900;
  text-shadow: -2px -2px 5px rgba(133, 193, 233, 0.9);
  animation: moveInLeft 1s ease-out; }
  @media (min-width: 549px) {
    .heading-primary {
      font-size: 9vw; } }
  @media (min-width: 1024px) {
    .heading-primary {
      font-size: 8vw; } }
  @media (min-width: 320px) and (orientation: portrait) {
    .heading-primary {
      font-size: 14vw; } }
  @media (min-width: 749px) and (orientation: portrait) {
    .heading-primary {
      font-size: 12vw; } }

.heading-secondary--main {
  font-size: 3.3vw; }
  @media (min-width: 320px) and (orientation: portrait) {
    .heading-secondary--main {
      font-size: 5.8vw; } }
  @media (min-width: 749px) and (orientation: portrait) {
    .heading-secondary--main {
      font-size: 3.9vw; } }
  @media (min-width: 1366px) {
    .heading-secondary--main {
      font-size: 2.3vw; } }

.heading-secondary--sub {
  text-transform: none;
  font-size: 4.5vw;
  font-style: italic;
  animation: moveInLeft 1s ease-out; }
  @media (min-width: 549px) {
    .heading-secondary--sub {
      font-size: 3vw; } }
  @media (min-width: 749px) {
    .heading-secondary--sub {
      font-size: 2.5vw; } }
  @media (min-width: 549px) and (orientation: portrait) {
    .heading-secondary--sub {
      font-size: 3.5vw; } }

.heading-secondary--colored {
  background-image: linear-gradient(to right bottom, #ff3cce, #85c1e9, #fefefe);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800; }

.paragraph {
  font-size: 2.6vw; }
  @media (min-width: 320px) and (orientation: portrait) {
    .paragraph {
      font-size: 4.6vw; } }
  @media (min-width: 749px) {
    .paragraph {
      font-size: 2.2vw; } }
  @media (min-width: 749px) and (orientation: portrait) {
    .paragraph {
      font-size: 2.8vw; } }
  @media (min-width: 1366px) {
    .paragraph {
      font-size: 1.8vw; } }
  .paragraph--main {
    font-size: 2.5vw; }
    @media (min-width: 320px) and (orientation: portrait) {
      .paragraph--main {
        font-size: 4.5vw; } }
    @media (min-width: 420px) and (orientation: portrait) {
      .paragraph--main {
        font-size: 3.8vw; } }
    @media (min-width: 749px) {
      .paragraph--main {
        font-size: 2.2vw; } }
    @media (min-width: 749px) and (orientation: portrait) {
      .paragraph--main {
        font-size: 4vw; } }
    @media (min-width: 1366px) {
      .paragraph--main {
        font-size: 1.8vw; } }
  .paragraph--sub {
    font-size: 1.5vw; }
    @media (min-width: 320px) and (orientation: portrait) {
      .paragraph--sub {
        font-size: 3.5vw; } }
    @media (min-width: 749px) {
      .paragraph--sub {
        font-size: 1.2vw; } }
    @media (min-width: 749px) and (orientation: portrait) {
      .paragraph--sub {
        font-size: 3vw; } }
  .paragraph--italic {
    display: block;
    font-style: italic;
    text-align: right; }

.logo-box {
  width: 4vw; }
  @media (min-width: 320px) and (orientation: portrait) {
    .logo-box {
      width: 10vw; } }
  @media (min-width: 549px) {
    .logo-box {
      width: 5vw; } }
  @media (min-width: 749px) and (orientation: portrait) {
    .logo-box {
      width: 7vw; } }
  .logo-box__logo {
    display: block;
    width: 100%;
    transition: transform 1s; }
    .logo-box__logo:hover {
      transform: rotate(360deg); }

.socials {
  display: flex;
  align-self: flex-end; }
  @media (min-width: 320px) and (orientation: portrait) {
    .socials {
      flex-direction: column; } }
  .socials__icon {
    color: #fefefe;
    font-size: 3.5vw;
    padding: 0.5rem;
    transition: transform 0.2s; }
    @media (min-width: 320px) and (orientation: portrait) {
      .socials__icon {
        font-size: 7vw; } }
    @media (min-width: 749px) {
      .socials__icon {
        font-size: 4vw; } }
    @media (min-width: 749px) and (orientation: portrait) {
      .socials__icon {
        font-size: 5vw; } }
    @media (min-width: 1366px) {
      .socials__icon {
        font-size: 3vw; } }
    .socials__icon:hover {
      transform: scale(1.3); }

.article {
  padding: 4.2rem 0;
  width: 80%; }
  .article__heading {
    margin: 1rem 0; }
  .article__buttons {
    margin-top: 1rem; }
  .article:nth-child(even) {
    position: relative;
    align-self: flex-end;
    padding-left: 10%; }
    .article:nth-child(even) > .article__buttons {
      text-align: right; }
    .article:nth-child(even)::before {
      position: absolute;
      top: -5%;
      right: 60%;
      z-index: -1;
      color: rgba(133, 193, 233, 0.4); }
  .article:nth-child(odd) {
    position: relative;
    align-self: flex-start;
    padding-right: 10%; }
    .article:nth-child(odd)::before {
      position: absolute;
      top: -5%;
      left: 60%;
      z-index: -1;
      color: rgba(255, 60, 206, 0.4); }
  @media (min-width: 549px) {
    .article {
      padding: 3rem 2rem;
      width: 60%; } }
  @media (min-width: 749px) {
    .article {
      padding: 6rem 2rem; } }
  @media (min-width: 1024px) {
    .article {
      padding: 4rem 2rem;
      width: 55%; } }
  .article::before {
    counter-increment: section;
    font-weight: bold;
    font-size: 22rem;
    z-index: -1;
    content: counter(section);
    z-index: 0; }
    @media (min-width: 320px) and (orientation: portrait) {
      .article::before {
        font-size: 27rem; } }
    @media (min-width: 749px) {
      .article::before {
        font-size: 25rem; } }
    @media (min-width: 749px) and (orientation: portrait) {
      .article::before {
        font-size: 32rem; } }

.btn {
  font-size: 2.7vw;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: transparent;
  color: #fefefe;
  border-top: 2px solid #ff3cce;
  border-left: 2px solid #ff3cce;
  border-bottom: 2px solid #85c1e9;
  border-right: 2px solid #85c1e9;
  transition: transform 0.4s; }
  @media (min-width: 320px) and (orientation: portrait) {
    .btn {
      font-size: 4.5vw; } }
  @media (min-width: 749px) {
    .btn {
      font-size: 1.5vw; } }
  @media (min-width: 749px) and (orientation: portrait) {
    .btn {
      font-size: 2.5vw; } }
  .btn:hover {
    transform: translateY(-0.2rem);
    border-bottom: 2px solid #ff3cce;
    border-right: 2px solid #ff3cce;
    border-top: 2px solid #85c1e9;
    border-left: 2px solid #85c1e9;
    text-shadow: -2px -2px 5px rgba(133, 193, 233, 0.9); }

.header {
  background-image: linear-gradient(to bottom, rgba(31, 31, 31, 0.4) 0%, rgba(31, 31, 31, 0.4) 100%), url(../../../img/header-background.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden; }
  @media (min-width: 320px) and (orientation: portrait) {
    .header {
      background-position: center; } }
  @media (min-width: 749px) and (orientation: portrait) {
    .header {
      padding: 3rem; } }
  @media (min-width: 1024px) {
    .header {
      padding: 3rem; } }
  @media (min-width: 1366px) {
    .header {
      background-position: bottom; } }
  .header__scroll {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    padding-bottom: 0.3rem;
    animation: hideAndAppear 2s infinite; }
    @media (min-width: 749px) and (orientation: portrait) {
      .header__scroll {
        font-size: 1.2rem;
        bottom: 1rem; } }
    @media (min-width: 749px) {
      .header__scroll {
        font-size: 0.9rem;
        bottom: 1rem; } }
    @media (min-width: 1024px) {
      .header__scroll {
        font-size: 1.2rem;
        bottom: 1rem; } }
  .header__socials {
    animation: moveInRight 1s ease-out; }
    @media (min-width: 320px) and (orientation: portrait) {
      .header__socials {
        animation: moveInBottom 1s ease-out; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fefefe;
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 12;
  box-shadow: -0.1rem -0.1rem 1rem rgba(133, 193, 233, 0.5);
  text-align: center;
  cursor: pointer; }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__button {
      height: 3rem;
      width: 3rem;
      top: 3rem;
      right: 3rem; } }
  @media (min-width: 1024px) {
    .navigation__button {
      height: 3.5rem;
      width: 3.5rem;
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  width: calc(2rem + 1rem);
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  right: calc(2rem - 0.5rem);
  background-image: linear-gradient(#85c1e9, #ff3cce);
  transform: translateY(300%);
  z-index: 11;
  transition: transform 0.4s cubic-bezier(0.85, 0, 0.07, 1); }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__background {
      width: calc(3rem + 1rem);
      right: calc(3rem - 0.5rem); } }
  @media (min-width: 1024px) {
    .navigation__background {
      width: calc(3.5rem + 1rem);
      right: calc(3rem - 0.5rem); } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #1f1f1f;
  opacity: 0;
  width: 0;
  transition: all 0.4s cubic-bezier(0.85, 0, 0.07, 1);
  transition-delay: 0.2s; }

.navigation__list {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.3rem;
  right: calc(2rem + 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-align: right; }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__list {
      font-size: 2.5rem;
      right: calc(3rem + 3rem); } }
  @media (min-width: 1024px) {
    .navigation__list {
      right: calc(3.5rem + 3rem);
      left: 50%;
      font-size: 2.5rem; } }

.navigation__item {
  margin: 1vh;
  padding-right: 0.5rem; }
  @media (min-width: 749px) {
    .navigation__item {
      padding-right: 2rem; } }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  width: 90%;
  font-weight: 300;
  padding: 0.5rem;
  color: rgba(254, 254, 254, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #85c1e9;
  text-shadow: -2px -2px 8px rgba(133, 193, 233, 0.9);
  transform: translateX(-1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: translateY(0); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: calc(2rem / 2); }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__icon {
      margin-top: calc(3rem / 2); } }
  @media (min-width: 1024px) {
    .navigation__icon {
      margin-top: calc(3.5rem / 2); } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    height: 2px;
    background-color: #1f1f1f;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    right: 0;
    transition: all 0.2s; }
  .navigation__icon {
    width: calc(2rem / 2); }
    @media (min-width: 749px) and (orientation: portrait) {
      .navigation__icon {
        width: calc(3rem / 2); } }
    @media (min-width: 1024px) {
      .navigation__icon {
        width: calc(3.5rem / 2); } }
  .navigation__icon::before {
    width: calc(2rem / 3.5);
    top: calc(2rem / -8); }
    @media (min-width: 749px) and (orientation: portrait) {
      .navigation__icon::before {
        width: calc(3rem / 3.5);
        top: calc(3rem / -8); } }
    @media (min-width: 1024px) {
      .navigation__icon::before {
        width: calc(3.5rem / 3.5);
        top: calc(3.5rem / -8); } }
  .navigation__icon::after {
    width: calc(2rem / 2.5);
    top: calc(2rem / 8); }
    @media (min-width: 749px) and (orientation: portrait) {
      .navigation__icon::after {
        width: calc(3rem / 2.5);
        top: calc(3rem / 8); } }
    @media (min-width: 1024px) {
      .navigation__icon::after {
        width: calc(3.5rem / 2.5);
        top: calc(3.5rem / 8); } }

.navigation__button:hover .navigation__icon::before {
  top: calc(2rem / -5.5);
  width: calc(2rem / 2); }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__button:hover .navigation__icon::before {
      top: calc(3rem / -5.5);
      width: calc(3rem / 2); } }
  @media (min-width: 1024px) {
    .navigation__button:hover .navigation__icon::before {
      top: calc(3.5rem / -5.5);
      width: calc(3.5rem / 2); } }

.navigation__button:hover .navigation__icon::after {
  top: calc(2rem / 5.5);
  width: calc(2rem / 2); }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__button:hover .navigation__icon::after {
      top: calc(3rem / 5.5);
      width: calc(3rem / 2); } }
  @media (min-width: 1024px) {
    .navigation__button:hover .navigation__icon::after {
      top: calc(3.5rem / 5.5);
      width: calc(3.5rem / 2); } }

.navigation__button:hover .navigation__icon {
  width: calc(2rem / 2); }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__button:hover .navigation__icon {
      width: calc(3rem / 2); } }
  @media (min-width: 1024px) {
    .navigation__button:hover .navigation__icon {
      width: calc(3.5rem / 2); } }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
  width: calc(2rem / 2); }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
      width: calc(3rem / 2); } }
  @media (min-width: 1024px) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
      width: calc(3.5rem / 2); } }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  width: calc(2rem / 2); }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      width: calc(3rem / 2); } }
  @media (min-width: 1024px) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      width: calc(3.5rem / 2); } }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  width: calc(2rem / 2); }
  @media (min-width: 749px) and (orientation: portrait) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      width: calc(3rem / 2); } }
  @media (min-width: 1024px) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      width: calc(3.5rem / 2); } }

.navigation__socials {
  position: absolute;
  left: 2rem;
  bottom: 2rem; }

.about {
  position: relative;
  min-height: 100vh;
  background-color: #1f1f1f;
  padding: 2rem; }
  @media (min-width: 749px) and (orientation: portrait) {
    .about {
      padding: 3rem; } }
  @media (min-width: 1024px) {
    .about {
      padding: 3rem; } }

.text-box {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .text-box::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 75%;
    height: 55%;
    border: 2px solid #85c1e9; }
    @media (min-width: 320px) and (orientation: portrait) {
      .text-box::after {
        transform: translate(-50%, -45%);
        height: 70%; } }
  .text-box__paragraph {
    z-index: 1;
    width: 65%;
    transform: translateX(-10%);
    background-color: #1f1f1f;
    outline: 2px solid #ff3cce;
    outline-offset: 2rem; }

.works {
  min-height: 100vh;
  overflow: hidden;
  padding: 3rem; }
  @media (min-width: 749px) and (orientation: portrait) {
    .works {
      padding: 3rem; } }
  @media (min-width: 1024px) {
    .works {
      padding: 3rem; } }
  .works__container {
    display: flex;
    flex-direction: column;
    counter-reset: section; }

body {
  background-color: #1f1f1f;
  overflow-x: hidden; }
