// COLORS
$color-primary: #1f1f1f;
$color-secondary-light: #ff3cce;
$color-tertiary-light: #85c1e9;
$color-white-1: #fefefe;

// FONT
$default-font-size: 1.6rem;

//MEDIA QUERY BREAKPOINTS
$mobile-small: 320px;
$mobile-large: 549px;
$tablet: 749px;
$laptop-small: 1024px;
$laptop-medium: 1366px;

//NAVIGATION BUTTON DIMENSIONS
//mobile
$button-size--small: 2rem;
$button-offset-top--small: 2rem;
$button-offset-right--small: 2rem;
//tablet
$button-size--medium: 3rem;
$button-offset-top--medium: 3rem;
$button-offset-right--medium: 3rem;
//desktop
$button-size--large: 3.5rem;
$button-offset-top--large: 3rem;
$button-offset-right--large: 3rem;
